<header>
<nav class="header-nav">
<a class="header-title" href="/">Master Mechanic</a>
<ul>
<li><a href="/mechanics">Mechanics</a></li>
<li><a href="/mechanics/new">Add Mechanics</a></li>
<li><a href="/services">Services</a></li>
<li><a href="/services/new">Add Services</a></li>
</ul>
</nav>
</header>