<h1>Create a New User Page</h1>

<form method="POST" action="/users">


    {{!--<div id="description-input">
        <label for="description">Description:</label>
        <input name="description">
    </div>--}}

    <button>Submit</button>
</form>

<a href="/users">Go Back</a>