<h2 class="page-header">Edit Mechanic</h2>
<form action="/mechanics/<%= mechanic.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/mechanics/<%= mechanic.id %>">Delete</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>