<h2>Search Mechanics</h2>
<form action="/mechanics" method="GET">
    <lable>Name</lable>
<input type="text" name="name" value="<%= searchOptions.name %>">
<button type="submit">Search</button>
</form>

<br>
<% mechanics.forEach(mechanic => { %>
<div><%= mechanic.name %></div>
<% }) %>