<h2 class="page-header"><%= mechanic.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/mechanics/${mechanic.id}` }) %>
</div>
<% if (servicesByMechanic.length > 0) { %>
  <h2 class="page-header"Services By Mechanic</h2>
  <%- include('../partials/serviceGrid', { servicess: servicesByMechanic }) %>
<% } %>